<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Playlist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="wrapper">
  <div class="playlist_box">
    <h1>Select a Playlist</h1>
    <form method="POST" action="{{ url_for('add_song_to_playlist', song_id=song_id) }}">
        <label for="playlist_id">Choose a Playlist:</label>
        <select name="playlist_id" id="playlist_id">
            {% for playlist in playlists %}
            <option value="{{ playlist[0] }}">{{ playlist[2] }}</option>
            {% endfor %}
        </select>
        <button type="submit">Add to Playlist</button>
    </form>
  </div>
</div>
</body>
</html>
